<?xml version="1.0"?>
<configuration>

  <!-- 第一部分是照着写就可以了，没有什么好说的 -->
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>

  <!-- 第二部分是定义一个或者多个连接数据库的字符串，其中要注意的是这部分的name的值是第三部分connectionStringName属性的值-->
  <connectionStrings>
    <!-- 连接数据库的字符串 -->
    <add name="SqlProvider" connectionString="Data Source=.;Initial Catalog=TX_Bussiness;Persist Security Info=True;User ID=sa;Password=sa123"/>
  </connectionStrings>

  <!-- 第三部分是将连接字符串和数据库驱动匹配起来成为一个连接。name是连接的名字，generatedNamespace的值是生成对象的命名空间-->
  <SubSonicService defaultProvider="Yannis_DAO">
    <providers>
      <clear/>
      <add name="Yannis_DAO" type="SubSonic.SqlDataProvider,SubSonic" connectionStringName="SqlProvider" generatedNamespace="Yannis.DAO"/>
    </providers>
  </SubSonicService>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
